{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'DashFlow/css/styles.css' %}">{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
 {% endblock %}

{% block content %}

<h1>This is the current price of bitcoin: ${{data.last.close}}</h1>

<div id="btcChartContainer">
    <canvas id="btcChart"></canvas>
</div>

<div id="ethChartContainer">
    <canvas id="ethChart"></canvas>
</div>

{% comment %} lightweight charts {% endcomment %}
<div id="chart-container" style="height: 300px; width: 600px;">

</div>


<script>
    {% comment %} console.log({{btc_chart_data.close|safe}})
    console.log({{btc_chart_data.date|safe}}) {% endcomment %}
    var ctx = document.getElementById('btcChart').getContext('2d');
    var btc_chart = new Chart(ctx, {
        type: 'line', // Change the type as per your needs
        data: {
            labels: {{ btc_chart_data.date|safe }},
            datasets: [{
                label: 'Bitcoin Daily Close Prices',
                data: {{ btc_chart_data.close|safe }},
                borderWidth: 1,
                pointRadius: 1,
                pointHoverRadius: 10,
                // Add other dataset properties like color, etc.
            },
            // You can add more datasets like high, low, close, volume etc.
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            onResize: function(chart, size) {
                chart.canvas.parentNode.style.height = '400px';
                chart.canvas.parentNode.style.width = '600px';
            }
        }
    });

    // eth chart
    var ctx = document.getElementById('ethChart').getContext('2d');
    var eth_chart = new Chart(ctx, {
        type: 'line', // Change the type as per your needs
        data: {
            labels: {{ eth_chart_data.date|safe }},
            datasets: [{
                label: 'Ethereum Daily Close Prices',
                data: {{ eth_chart_data.close|safe }},
                borderWidth: 1,
                pointRadius: 1,
                pointHoverRadius: 10,
                // Add other dataset properties like color, etc.
            },
            // You can add more datasets like high, low, close, volume etc.
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            onResize: function(chart, size) {
                chart.canvas.parentNode.style.height = '400px';
                chart.canvas.parentNode.style.width = '600px';
            }
        }
    });

// lightweight charts
var chartData = JSON.parse('{{ data_for_chart_json|safe }}');

var staticChartData = [
    { "time": "2023-11-01", "value": 35000 },
    { "time": "2023-11-02", "value": 35500 },
    { "time": "2023-11-03", "value": 36000 },
    { "time": "2023-11-04", "value": 35000 },
    { "time": "2023-11-05", "value": 34500 },
    { "time": "2023-11-06", "value": 32000 },
    // ...add a few more records
];

{% comment %} chartData.forEach(entry => {
    console.log(`Time: ${entry.time}, Type: ${typeof entry.time}`);
    console.log(`Value: ${entry.value}, Type: ${typeof entry.value}`);
});

staticChartData.forEach(entry => {
    console.log(`Time: ${entry.time}, Type: ${typeof entry.time}`);
    console.log(`Value: ${entry.value}, Type: ${typeof entry.value}`);
}); {% endcomment %}

{% comment %} console.log(chartData);

const chartOptions = {
	layout: {
		textColor: 'white',
		background: { type: 'solid', color: 'black' },
	},
};

var chart = LightweightCharts.createChart(document.getElementById('chart-container'), chartOptions);

chart.applyOptions({
    timeScale: {
        timeVisible: true,
        secondsVisible: true,
    },
}); {% endcomment %}


var chart = LightweightCharts.createChart(document.getElementById('chart-container'), {
    width: 600,
    height: 300,
    layout: {
        background: {type: 'solid', color: 'black'},
        textColor: 'white',
    },
    grid: {
        vertLines: {
            color: 'rgba(197, 203, 206, 0.5)',
        },
        horzLines: {
            color: 'rgba(197, 203, 206, 0.5)',
        },
    },
    crosshair: {
        mode: LightweightCharts.CrosshairMode.Normal,
    },
    rightPriceScale: {
        borderColor: 'rgba(197, 203, 206, 0.8)',
    },
    timeScale: {
        borderColor: 'rgba(197, 203, 206, 0.8)',
    },
});

var lineSeries = chart.addLineSeries();

lineSeries.setData(chartData);

</script>
    

{% endblock %}