{% extends 'base.html' %}
{% load static %}

{% block title %} Dashboard {% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'DashFlow/css/styles.css' %}">{% endblock %}

{% block script %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endblock %}

{% block content %}

<h1>This is the current price of bitcoin: ${{data.last.close}}</h1>

<div id="btcChartContainer">
    <canvas id="btcChart"></canvas>
</div>

<div id="ethChartContainer">
    <canvas id="ethChart"></canvas>
</div>


<script>
    {% comment %} console.log({{btc_chart_data.close|safe}})
    console.log({{btc_chart_data.date|safe}}) {% endcomment %}
    var ctx = document.getElementById('btcChart').getContext('2d');
    var btc_chart = new Chart(ctx, {
        type: 'line', // Change the type as per your needs
        data: {
            labels: {{ btc_chart_data.date|safe }},
            datasets: [{
                label: 'Bitcoin Daily Close Prices',
                data: {{ btc_chart_data.close|safe }},
                borderWidth: 1,
                pointRadius: 1,
                pointHoverRadius: 10,
                // Add other dataset properties like color, etc.
            },
            // You can add more datasets like high, low, close, volume etc.
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            onResize: function(chart, size) {
                chart.canvas.parentNode.style.height = '400px';
                chart.canvas.parentNode.style.width = '600px';
            }
        }
    });

    // eth chart
    var ctx = document.getElementById('ethChart').getContext('2d');
    var eth_chart = new Chart(ctx, {
        type: 'line', // Change the type as per your needs
        data: {
            labels: {{ eth_chart_data.date|safe }},
            datasets: [{
                label: 'Ethereum Daily Close Prices',
                data: {{ eth_chart_data.close|safe }},
                borderWidth: 1,
                pointRadius: 1,
                pointHoverRadius: 10,
                // Add other dataset properties like color, etc.
            },
            // You can add more datasets like high, low, close, volume etc.
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            onResize: function(chart, size) {
                chart.canvas.parentNode.style.height = '400px';
                chart.canvas.parentNode.style.width = '600px';
            }
        }
    });
    </script>
    

{% endblock %}